body{	
	font-family:"Times New Roman";
	padding: 0px;
	margin: 0px;
}
header{
	background: #34773B;
	color: #CFDA9C;
	padding-bottom: 5px;
	height: 70px;
	line-height: 70px;
	text-indent: 20px;
	text-shadow: 3px 3px black;
	font-size: 20px;
	width: 100%;
}
#icono{
	height: 35px;
	width: 35px;
	margin-top: 10px;
}
#container_producto{
	background-image: url("../imagenes/fitosanitario.jpg");
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x:hidden;
    overflow-y:hidden;
}
#container_cultivo{
	background-image: url("../imagenes/limones.jpg");
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x:hidden;
    overflow-y:hidden;
}
#container_tratamiento{
	background-image: url("../imagenes/boniatos.jpg");
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x:hidden;
    overflow-y:hidden;
}
#container_filtrar_tratamiento{
	background-image: url("../imagenes/planta.jpeg");
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x:hidden;
    overflow-y:hidden;
}
#notificacion{
	padding-bottom: 5px;
	padding-top: 1px;
	border-radius: 10px;
	width:860px;
	height: 250px;
	margin: 60px auto;
	background: rgba(255,255,255,0.9);
	text-align: left;
	text-indent: 1.5em;
	line-height: 2em;
}
b{
	font-size:25px;
}
p, li{
	font-size: 20px;
}
h1{
	margin: 0px 0px 0px 0px;
}