<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/errores.css}">
</head>
<body>
	<div id="container_producto">
		<header>
			<h1>
				<img id="icono" th:src="@{/imagenes/heart.png}"> Gestión
				agrícola
			</h1>
		</header>
		<div id="notificacion">
			<b>No se ha podido crear o modificar el producto</b>
			<p>Puede que no se haya introducido:<p>
			<ol>
				<li>Nombre del producto</li>
				<li>Plazo de reentrada válido</li>
				<li>Plazo de recolección válido</li>
			</ol>
		</div>
	</div>
</body>
</html>