<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo tratamiento</title>
</head>
<body>
    <h1>Introduzca los datos del tratamiento</h1>
    <form th:action="@{/tratamiento/modificar-objeto/{id}(id=${tratamientoOriginal.idTratamiento})}" method="post">
        Indique a que cultivo se le aplicó el tratamiento:
        <p>
            <select name="idCultivo">
                <option selected th:text="${cultivoOriginal.nombre}" th:value="${cultivoOriginal.id}"></option>
                <option  th:each="cultivo : ${cultivos}" th:text="${cultivo.nombre}" th:value="${cultivo.id}" value="cultivo"></option>
            </select>
        </p>
        <p>
            <select name="idProducto">
            	<option selected th:text="${productoOriginal.nombre}" th:value="${productoOriginal.id}"></option>
                <option th:each="producto : ${productos}" th:text="${producto.nombre}" th:value="${producto.id}" value="producto"></option>
            </select>
        </p>
        <br>
        Número del lote del producto utilizado:
        <input type="text" name="numLoteProducto" size="32" th:value="${tratamientoOriginal.numLoteProducto}"><br>
        Fecha de inicio del tratamiento:
        <input type="date" name="inicioTratamiento" th:value="${tratamientoOriginal.inicioTratamiento}"><br>
        <br>
        <input type="submit" value="Modificar"/>
        <br>
        <a href="/tratamiento">Volver a tratamientos</a>
    </form>
</body>
</html>