<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/modificar.css}"/>
</head>
<body>
	<div id="container_cultivo">
	<header>
			
		<h1><img id="icono" th:src="@{/imagenes/heart.png}"> Gestión agrícola:  Modificar cultivo</h1>
	</header>
	<div id="fondo_formulario">
	<form id="form" th:action="@{/cultivo/editar/{id}(id=${cultivo.id})}" method="post">
		<p>Nombre:</p>
		<input type="text" name="nombre" th:value="${cultivo.nombre}"> <br>
		<p>Variedad:</p>
		<input type="text" name="variedad" th:value="${cultivo.variedad}"> <br>
		<p>Zona:</p>
		<input type="text" name="zona" th:value="${cultivo.zona}"> <br>
		<p>Fecha de plantación:</p>
        <input type="date" name="fechaPlantacion" th:value=${cultivo.fechaPlantacion}><br><br>
		<input CLASS="button" type="submit" value="Modificar cultivo"> <br>
	</form>
	</div>
</div>
</body>
</html>