<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/mostrar.css}"/>
</head>
<body>
	<div id="container_cultivo">
	<header>
		<h1><img id="icono" th:src="@{/imagenes/heart.png}"> Gestión agrícola:  Cultivo</h1>
	</header>
	<div id="fondo_cultivo">
	<form id="form1">
	<h3 th:text="'Nombre: ' + ${cultivo.nombre}"></h3>
	<br />
	<span th:text="'Variedad: '+ ${cultivo.variedad}"></span>
	<br />
	<p th:text="'Zona: '+ ${cultivo.zona}"></p>
	
	<span th:text="'Fecha de plantacion: '"></span>
	<br />
	<span th:text="${cultivo.fechaPlantacion}"></span>
	<br />
	<p>Tratamientos: </p>
	
	<p th:each= "tratamiento : ${cultivo.tratamientos}">
		<a CLASS="buttonLinks" th:href="@{/tratamiento/{id}(id=${tratamiento.idTratamiento})}">
		<span th:text="'Tratamiento '+ ${tratamiento.idTratamiento}"></span>
		</a>
	</p>
	<br />
	<a CLASS="button" th:href="@{/cultivos/modificar/{id}(id=${cultivo.id})}"> Editar </a>	
	<br />
	<br />
	<a CLASS="button" th:href="@{/cultivos/borrar/{id}(id=${cultivo.id})}"> Borrar </a>
	<br />
	<br />
	<a CLASS="button" href="/cultivos/"> Volver </a>
	<br />
	</form>
	
	</div>
	</div>		
</body>
</html>