<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/mostrar.css}"/>
</head>
<body>
<div id="container_tratamiento">
	<header>
			
		<h1><img id="icono" th:src="@{/imagenes/heart.png}"> Gestión agrícola:  Tratamiento</h1>
	</header>
	<div id="fondo_tratamiento">
	
	<form id="form1" action="/tratamiento/filtro" method="post">
		<h3>Filtrar tratamientos por fecha:</h3>
		<input type="date" name="fechaIntroducida">
		<p>
			<input type="radio" name="orden" value="especie">Ordenar por especie 
			<br>
			<input type="radio" name="orden" value="fechaReentrada">Ordenar por fecha de reentrada
			<br>
			<input type="radio" name="orden" value="fechaRecoleccion">Ordenar por fecha de recolección
		</p>
		<input CLASS="button" type="submit" value="Filtrar">
		

	<br>
	<p th:each="tratamiento: ${tratamientos}">
		<a CLASS="buttonLinks" th:href="@{/tratamiento/{id}(id=${tratamiento.idTratamiento})}">
			Tratamiento <span th:text="${tratamiento.idTratamiento}"></span>
		</a>
	</p>
	<p>
		<br>
		<br>
		<a CLASS="button" href="/tratamiento/formulario_crear"><span> Añadir Tratamiento </span></a>
		<br>
		<br>
		<a CLASS="button" href="/">Volver a la página principal</a>
	</p>
	</form>
	</div>
</div>
</body>
</html>